@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Bubblegum+Sans&family=Kaushan+Script&family=Preahvihear&family=Rubik+Dirt&family=Ubuntu:wght@300&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  color: white;
  background-color: #3aafa9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #0e4c4a;
}
.logo {
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 35px;
  transition: 0.5s;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
}

.navbar a:hover {
  color: rgb(0, 255, 187);
}

.home {
  width: 90%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 10px 50px;  
}
.home-content {
  max-width: 600px;
  font-size: 50px;
  font-weight: 600;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.5s;
}
.home-img img{
  display: flex;
  height: 500px;
  animation: floatImage 3s ease-in-out infinite;
  opacity: 0;
  animation-delay: 0.5s;
}

.dark {
  color: #115452;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#element {
  color: #115452;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 44px;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: transparent;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  padding: 0px 5px;
  border-radius: 50%;
  opacity: 0;
  animation: slideUp 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  transition: 0.5s;
}
.social a:hover {
  color: #0e4c4a;
  font-size: 35px;
  transition: 0.5s;
  box-shadow: 0 0 20px white;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes floatImage {
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  50%{
    transform: translateY(2rem);
    opacity: 1;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}